<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-input></app-input>
  <x-select [selData]="selArray" [optionData]="0"></x-select>
  <button type="button" (click)="btnHandle()">点击</button>
  <x-toast toast_delaytime="3000" [toast_show]="isShowToast" toast_title="toast显示" (toastshowChange)="toastHandle($event)"> </x-toast>
  <div>
    <span>字节</span>
    <span>{{12470 | xReserveBits}}</span>
  </div>
  <div>
    <ul>
      <li *ngFor="let singleData of selArray; last as k;" [xForEnd]="k" (xForEnded)="forEndedHandle($event)">{{singleData}}</li>
    </ul>
  </div>
</div>
